#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.body-div {
  flex: 1;
  background-color: grey;
}

footer.footer {
  width: 100vw;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.body-div{
  height: 700px;
  background-color: grey;
}


