/* EventDetails.css */
.event-details-page {
  display: flex;                     
  flex-direction: column;            
  align-items: flex-start;           /* Align items to the start for left alignment */
  padding: 40px;                    
  width: 100%;                      
  max-width: 1400px;                
  margin: 0 auto;                  
}

.image-container {
  display: flex;                     
  justify-content: center;           
  align-items: center;               
  background-color: #e3f2fd;                             
  width: 500px;   /* Match this to the max-width of event-details-container */
  margin-top: 80px;                    
}

.image {
  max-width: 100%;                   
  height: auto;                      
}

.event-details-flex-container {
  display: flex;                     
  gap: 20px;                         
  width: 100%;                       
}

.event-details-container {
  background-color: #f9f9f9;         
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;                     
  width: 100%;                       /* Set width to 100% to fill available space */
  max-width: 500px;                  /* You can adjust this max-width or remove it if needed */
}

.flexible-container {
  display: flex;                     
  justify-content: center;           
  align-items: flex-start;           
  background-color: #f0f2f5;         
  padding: 20px;                     
  width: 100%;                       /* Set width to 100% to fill available space */
}

.flexible-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Keep 4 columns for other items */
  gap: 20px;
  width: 100%;
}

.additional-container {
  background-color: #f0f2f5;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-size: 110% 65% !important; 
  background-repeat: no-repeat !important; 
  background-position: -21px 20px !important;
}

/* Styles for merged container holding containers 1 and 2 */
.merged-container {
  display: flex;              /* Set to flex to align items side by side */
  gap: 0px;                   /* Remove any gap between the items */
  grid-column: span 2;        /* Span across 2 columns in the grid */
}

/* Style adjustments for individual containers inside the merged container */
.merged-container .additional-container {
  flex: 1;                    /* Make containers 1 and 2 share space evenly */
  width: 50%;                 /* Ensure both take half the width */
  margin: 0;                  /* Remove any extra margin */
  background-size: 110% 65% !important; /* Adjust background size */
}


.background-image {
  color: white;
}

.container-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
