#event-hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px - 40px);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.event-banner-container {
    display: flex;
}

.event-banner-container img {
    height: auto;
    width: 10vw;
}

.event-text-highlight {
    color: #611de6;
}

.event-hero-designs {
    position: absolute;
    height: auto;
    animation: move 3s ease-in-out infinite alternate;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.horn {
    width: 30vw;
    top: 30%; 
    left: -20%; 
}

.ball {
    width: 30vw;
    top: -5%;
    right: -20%;
}

.cube1 {
    width: 50vw;
    top: 15%;
    right: -30%;
}

.cube2 {
    width: 50vw;
    top: -5%;
    left: -30%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #event-hero-main h1 {
        font-size: 8vw;
    }

    #event-hero-main p {
        font-size: 3.5vw;
    }

    #event-hero-main img {
        width: 25vw;
    }
    
    .horn {
        width: 70vw;
        top: 50%; 
        left: -40%; 
    }
    
    .ball {
        width: 70vw;
        top: -5%;
        right: -40%;
    }
    
    .cube1 {
        width: 90vw;
        top: 25%;
        right: -60%;
    }
    
    .cube2 {
        width: 90vw;
        top: 3%;
        left: -60%;
    }
}

@media (max-width: 767px) {
    #event-hero-main h1 {
        font-size: 15vw;
        text-align: center;
    }

    #event-hero-main p {
        font-size: 6vw;
    }

    #event-hero-main img {
        width: 30vw;
    }

    .horn {
        width: 100vw;
        top: 40%; 
        left: -90%; 
    }
    
    .ball {
        width: 100vw;
        top: -5%;
        right: -90%;
    }
    
    .cube1 {
        width: 120vw;
        top: 20%;
        right: -110%;
    }
    
    .cube2 {
        width: 120vw;
        top: 0;
        left: -110%;
    }
}