#event-hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px - 40px);
    margin: 30px 0 30px 0;
    position: relative;
    z-index: 1;
}

#event-hero-main h1 {
    font-size: 6vw;
    margin-bottom: 20px;
}

#event-hero-main p {
    font-size: 1.5vw;
}

.event-banner-container {
    display: flex;
}

.event-banner-container img {
    height: auto;
    width: 10vw;
}

.event-text-highlight {
    color: #611de6;
}

.event-hero-designs {
    position: absolute;
    height: auto;
    animation: move 3s ease-in-out infinite alternate;
}

#event-hero-message {
    display: flex;
    align-items: center;
    height: 40vh;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.horn {
    width: 35vw;
    top: 20%; 
    left: -20%; 
}

.ball {
    width: 35vw;
    top: -5%;
    right: -20%;
}

.cube1 {
    width: 45vw;
    top: 15%;
    right: -25%;
}

.cube2 {
    width: 45vw;
    top: -5%;
    left: -25%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #event-hero-main h1 {
        font-size: 13vw;
        text-align: center;
    }

    #event-hero-main p {
        font-size: 4vw;
    }

    #event-hero-main img {
        width: 25vw;
    }
    
    .horn {
        width: 70vw;
        top: 20%; 
        left: -45%; 
    }
    
    .ball {
        width: 70vw;
        top: -5%;
        right: -45%;
    }
    
    .cube1 {
        width: 90vw;
        top: 15%;
        right: -60%;
    }
    
    .cube2 {
        width: 90vw;
        top: -5%;
        left: -60%;
    }
}

@media (max-width: 767px) {
    #event-hero-main h1 {
        font-size: 15vw;
        text-align: center;
    }

    #event-hero-main p {
        font-size: 6vw;
    }

    #event-hero-main img {
        width: 30vw;
    }

    .horn {
        width: 100vw;
        top: 10%; 
        left: -80%; 
    }
    
    .ball {
        width: 100vw;
        top: -5%;
        right: -90%;
    }
    
    .cube1 {
        width: 120vw;
        top: 7%;
        right: -100%;
    }
    
    .cube2 {
        width: 120vw;
        top: -5%;
        left: -100%;
    }
}