.a link{
    text-decoration: none;
    color:azure;
}

.footer1{
    box-shadow:  0px 0px 15px hsl(0, 0%, 80%);
}

.footer1 img{
    width: 8%;
    height: auto;
}

.a1{
    color: hsl(0, 0%, 80%);
    text-decoration: none;
}

.register a{
    color: rgb(194, 26, 118);
}

.texts a{
    color: black;
    text-decoration: none;
}

.texts a:hover{
    color: hsl(0, 0%, 70%);
}

.logos img{
    width: 7%;
    height: auto;
}

.logos1 img{
    width: 7%;
    height: auto;
}
