.custom-card {
    border-radius: 10%;
  }
  
  .custom-card img {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-radius: 10%;
  }

.no-margin-padding {
    margin: 0; 
    padding: 0; 
  }

  .container {
    min-height: 100vh; /* Ensures the container takes the full height of the viewport */
  }

  .merchContainer {
    display: flex; /* Enables flexbox for alignment */
    flex-direction: column; /* Aligns children in a column */
    /*border: 1px solid black;*/
    margin-top: 200px;
}

  
  