
.navbar{
    background-color: white;
    padding: 8px;
    padding-left: 30px;
    font-weight: bold;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,.1);
    
}

.nav-link{
    color: hsl(0, 0%, 1%);
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
    
}

.nav-item .nav-link.active {
    color: #ffffff;
}

.nav-link:hover{
    color: rgb(151, 142, 142);
}

.navbar-brand{
    height: auto;
    padding: 0%;
    padding-right: 50px;
}

.btn-primary{
    color: hsl(0, 0%, 1%);
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.button1{
    background-color: #ffffff;
    color: #611DE6;
}

.button2{
    background-color: #611DE6;
    color: white;
}


