@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}


.carouselcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  
}

.rdbtn[type=radio] {
  display: none;
}

.prodcard {
  position: absolute;
  width: 70%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: auto;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.eventpic {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  
}

#itemm-1:checked ~ .cards #song-3, #itemm-2:checked ~ .cards #song-4, #itemm-3:checked ~ .cards #song-5, #itemm-4:checked ~ .cards #song-1, #itemm-5:checked ~ .cards #song-2{
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#itemm-1:checked ~ .cards #song-2, #itemm-2:checked ~ .cards #song-3, #itemm-3:checked ~ .cards #song-4, #itemm-4:checked ~ .cards #song-5, #itemm-5:checked ~ .cards #song-1{
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#itemm-1:checked ~ .cards #song-1, #itemm-2:checked ~ .cards #song-2, #itemm-3:checked ~ .cards #song-3, #itemm-4:checked ~ .cards #song-4, #itemm-5:checked ~ .cards #song-5 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
}

#itemm-1:checked ~ .cards #song-4,
#itemm-1:checked ~ .cards #song-5,
#itemm-2:checked ~ .cards #song-5,
#itemm-2:checked ~ .cards #song-1,
#itemm-3:checked ~ .cards #song-1,
#itemm-3:checked ~ .cards #song-2,
#itemm-4:checked ~ .cards #song-2,
#itemm-4:checked ~ .cards #song-3,
#itemm-5:checked ~ .cards #song-3,
#itemm-5:checked ~ .cards #song-4{
   visibility: hidden;
}




