@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  box-sizing: border-box;
}

.carouselcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  margin: auto;
    place-content: center;
}

.rdbtn[type=radio] {
  display: none;
}

.prodcard {
  position: absolute;
  width: 60%;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease, opacity .4s ease, z-index .4s ease;
  cursor: pointer;


}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cards {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 50%;
}

.eventpic {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.bell{
  position: absolute;
  top: 10px;
  left: 0px;
  width: auto;
  height: auto;
  z-index: 1; 
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.ball1left, .ball1right{
filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
}

.ball1right{
  right: 250px;
  top: 120px; 
}

.ball1left {
left: 120px;
top: 160px; 
}

.square1{
position: absolute;
top: 10px;
right: 0px;
width: auto;
height: auto;
z-index: 1;
filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.nextRight{
  position: absolute;
  bottom: 50%;
  right: -70px; /* depende kung saan mo ilalagay yung buttons na to*/
  width: auto;
  height: auto;
  z-index: 1; 
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

.nextLeft{
  position: absolute;
  bottom: 50%;
  left: -70px; /* depende kung saan mo ilalagay yung buttons na to*/
  width: auto;
  height: auto;
  z-index: 1; 
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.2));
}

/* KENNY YUNG rightLineProjects tsaka yellowHeadProjects magkasama, same sa leftLineProjects refer ka na lang sa positioning dun sa figma*/

.yellowHeadProjects{

}
.rightLineProjects{

}

.redHeadProjects{

}
.leftLineProjects{
  
}