/* EventDetails.css */
.event-details-page {
  display: flex;                     
  flex-direction: column;                      
  padding: 40px;                    
  width: 100%;                       
  max-width: 1400px;                
  margin: 0 auto;                   
}

.image-title-container {          
  display: flex;    
  flex-direction: row;                                                                        
  margin-top: 160px;  
  align-items: center;                  
}



.image {
  width: auto;      
  border-radius: 16px;          
  height: 500px;                      
}

.event-details-flex-container {
  display: flex;                     
  gap: 50px;                         
  width: 100%;    
  margin-top: 30px;       
              
}

.event-details {
  display: flex;
  flex-direction: column; 
}

.event-details-container {
  background-color: white;         
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 20px;                     
  width: 100%;                       
  max-width: 500px;    
  display: flex;
  flex-direction: row; 
  border-radius: 16px;  
  border: 1px solid #787777;
}

.flexible-container {
  display: flex;                     
  justify-content: center;                   
  background-color: white;           
  padding: 20px;                     
  width: 100%;    
  border-radius: 16px;  
  border: 1px solid #787777;                   
}

.flexible-content-container {
  gap: 10px;                   
  width: 100%;                       
}

.additional-container {
  background-color: #fff;           /* Background color for the additional containers */
  border: 1px solid #ddd;           /* Border for visibility */
  padding: 20px;                    /* Padding inside the additional containers */
  text-align: center;               /* Center the text */
}

.speakers-section{
  text-align: left;
}


.speakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ensures 3 items per row on large screens */
  gap: 20px; /* Space between speaker cards */
  width: 100%;
}

.speaker-card {
  position: relative; /* Make the container relative to position the background */
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.speaker-image {
  z-index: 1; /* Place the speaker image on top of the background */
  width: 100px;
  height: 100px;
  border-radius: 10%;
  object-fit: cover;
  justify-content: end;
}

.speaker-details {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.speaker-name {
  font-size: 1em;
  text-align: left;
  color: white;
  background-color: #611DE6;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  text-align:end;
  margin-left: -20px;
  padding-left: 20px;
}


.speaker-description {
  font-size: 0.85em;
  color: #666;
  
}


.event-background {
  position: fixed;  /* Use fixed to make it fill the viewport */
  z-index: -1;      /* Ensure it's behind other content */
  height: 100vh;    /* Set height to 100% of viewport height */
  width: 100vw; 
  width: 100%;      /* Set width to 100% of viewport width */
  overflow: hidden; /* Hide overflow, in case of any content */
}

.event-background-image {
  position: absolute;   /* Positioning for the image */
  top: 200px;             /* Center vertically */
  width: 100%;          /* Full width of the parent */
  height: 800px;         /* Maintain aspect ratio */
  transform: translate(-50%, -50%); /* Center the image */
  filter: blur(20px);   /* Apply blur effect */
}

.event-description{
  text-align: left;
  font-size: 20px;
  padding: 20px;
  text-align: justify;
}

.title-container {
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
  padding-left: 50px;
  letter-spacing: 2px;
}

.title-container .event-title{
  font-size: 3.5em;
  font-weight: 500px;
}

.title-container .event-location{
  color: white;
  font-size: 1.2em;
}

.title-container .event-date{
  color: white;
  font-size: 1.2em;
}