#event-main h1 {
    text-align: left;
    margin-top: 10%;
    margin-bottom: 2.5%;
    font-size: 5vw;
}

#event-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

#event-container div {
    cursor: pointer;
    text-align: left;
}

#event-container img {
    transition: box-shadow 0.3s; 
}

#event-container div:hover img {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
}

#event-container h6 {
    font-weight: bold;
    margin: 10px 0 10px 0;
}

#event-container p {
    margin: 10px 0 10px 0;
    font-size: 10px;
    color: #B0B0B0;
}

#event-container img {
    width: 100%;
    height: auto;
    border-radius: 5%;
}

#event-button {
    display: flex;
    border: none;
    margin-top: 30px;
    justify-content:end;
}

@media (max-width: 767px) {
    #event-main h1 {
        margin-top: 30%;
        margin-bottom: 5%;
    }

    #event-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
}