#event-main {
    display: flex;
    flex-direction: column;
    margin: 50px;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 60px - 40px);
    margin-top: 10%;
}

#event-main h1 {
    text-align: left;
    font-size: 5vw;
}

#event-nav, #event-dropdowns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#event-dropdowns {
    width: 35vw;
}

#event-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
}

#event-button {
    display: flex;
    border: none;
    margin-top: 30px;
    justify-content: end;
}

#event-button button {
    background-color: #611de6;
    border: none;
    transition: background-color 0.2s;
    width: '100px';
    color: white;
}

#event-button button:hover {
    background-color: rgb(185, 110, 255);
    color: white;
}

#event-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;       
}

@media (min-width: 768px) and (max-width: 1024px) {
    #event-dropdowns {
        width: 50vw;
    }
    #event-main {
        margin-top: 20%;
    }
    #event-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    #event-main h1 {
        font-size: 4vw;
    }
    #event-main {
        margin-top: 40%;
    }
    #event-dropdowns {
        width: 57vw;
    }
    #event-container {
        grid-template-columns: repeat(1, 1fr); 
    }
    #event-button button {
        font-size: 8px;
    }
}