body {
    font-family: 'Poppins', sans-serif;
    
}

.teamsContainer {
    display: flex; /* Enables flexbox for alignment */
    flex-direction: column; /* Aligns children in a column */
    /*border: 1px solid black;*/
    margin-top: 150px;
}
